{% extends "myapp/admin/base.html" %}
{% block extra_css %}{% endblock  %}
{% block title %}Edit page{% endblock  %}
{% block page_title %}edit page{% endblock  %}
{% block content %}


<form method='POST'>
{% csrf_token %}
<input  name="name" type="text" placeholder="Course name" required />
<input name="price" type="number" placeholder="Course price" required />
<textarea  name="bio" placeholder="Course description" rows="4" required>


</textarea>


<button type="submit" >save</button>
</form>
{% endblock  %}