
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background: #0f172a; 
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 17px;
  font-weight: 600;
}

.logo .image {
  width: 45px;
  height: 45px;
  border-radius: 50%;     
  object-fit: cover;      
  object-position: center;
  border: 2px solid #38bdf8;
  background-color: #1e293b;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.navbar ul li a:hover {
  background: #38bdf8;
  color: #020617;
}

.container {
  padding: 25px;
}
html, body {
    height: 100%;
    margin: 3;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;  
}

.footer {
    background: #222;
    color: #ccc;
    padding: 25px;
    text-align: center;
    margin-bottom: 3px;
}
