{% load static %}
<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">

<form method="POST" class="login-form">
    {% csrf_token %}

    <h2 class="form-title">Login</h2>

    <div class="form-group">
        <input name="email" type="email" placeholder="Enter your email" required>
    </div>

    <div class="form-group">
        <input name="password" type="password" placeholder="Enter your password" required>
    </div>

    {% if error %}
        <div class="error-text">{{ error }}</div>
    {% endif %}

    <button type="submit" class="btn-submit">Login</button>

    <div class="form-links">
        <p>
            Don’t have an account?
            <a href="{% url 'register' %}">Sign up</a>
        </p>

        <p>
            Resend verification?
            <a href="{% url 'resend_link' %}">Resend link</a>
        </p>
    </div>
</form>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}
